body {
        background-image: url('Bus.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: lightblue;
  color: #fff;
  padding: 10px 20px;
}

h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
}

.button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #666;
}

footer {
  background-color: lightblue;
  color: #333;
  text-align: center;
  padding: 10px 20px;
  margin-top: 50px;
}
